@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btn-report-incident").click(function () {
                window.location.href = '@Url.Action("Index", "ReportIncident")';
            });

            $("#btn-view-incident").click(function () {
                window.location.href = '@Url.Action("Index", "ViewIncident")';
            });
        });
    </script>

}

<style>

    button {
        width: 300px;
        height: 200px;
    }

    .ctn-main {
        height: 80vh;
    }

</style>


<div class="d-flex justify-content-center align-items-center ctn-main">
    <div class="container">        
        <div class="row" id="ctn-options">
            <div class="col text-center">
                <button type="button" class="btn btn-dark" id="btn-report-incident">Reportar Incidentes</button>
                <button type="button" class="btn btn-dark" id="btn-view-incident">Visualizar Incidentes</button>
            </div>            
        </div>
    </div>
</div>
